@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: poppins;

}



.topo {

    display: flex;

}



.topo li {

    padding: 24px;

    padding-top: 35.5px;

    font-size: 21px;

    display: block;

}


.topo li:first-child {
    margin-right: auto;
}

ul a {
    padding-top: 35.5px;
    padding-right: 28px;
}

div h1 {
    font-size: 47px;
}

.coluna1 {
    display: inline-block;
    margin-left: 206px;
    margin-top: 11%;
}

.coluna2 {
    display: inline-block;
}

div main {
    top: 362px;
    left: 216px;
}

.img1 {
    position: absolute;
    left: 61.88%;
    right: -4.5%;
    top: 53.28%;
}

.img2 {
    position: absolute;
    left: 64.63%;
    right: 17.5%;
    top: 17.12%;
}

.img3 {
    position: absolute;
    left: 61.73%;
    right: 18.51%;
    top: 17.01%;
    bottom: 20.85%;
}

.img4 {
    position: absolute;
    width: 196.22px;
    height: 420.5px;
    left: 62.26%;
    top: 18.11%;
}


.botao1 {
    width: 76px;
    height: 37px;
    padding: 10px, 16px;
    font-size: 16px;
    background-color: #0062ff;
    color: white;
    border: none;
}

.botao2 {
    width: 120px;
    height: 36px;
    right: 332px;
    color: #575757;
    line-height: 120%;

}
main{
    margin-top: 240px;
}
.Autor{
    text-align: center;
}
.cara{
margin-left:131px;


}
main div{
    display: inline-block;
    padding-right: 47px;
}
.p{
    color: #575757;
    padding-bottom: 14px;
}
.link{
    text-decoration: none;
    color: #2203e4;
    font-size: 21px;

   
}
.fundo{
    background-color: #0062ff;
    color: #ffff;
}
.paravc{
    text-align: center;
    padding-top: 71px;
}
.paravc h2{
    font-size: 36px;
}
.estudantes{
    display: flex;

}
.freelancer{
   display: flex;

}