@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: poppins;

}



.topo {

    display: flex;

}



.topo li {

    padding: 24px;

    padding-top: 35.5px;

    font-size: 21px;

    display: block;

}


.topo li:first-child {
    margin-right: auto;
}

ul a {
    padding-top: 35.5px;
    padding-right: 28px;
}

div h1 {
    font-size: 47px;
}

.coluna1 {
    display: inline-block;
    margin-left: 206px;
    margin-top: 11%;
}

.coluna2 {
    display: inline-block;
}

div main {
    top: 362px;
    left: 216px;
}

.img1 {
    position: absolute;
    left: 61.88%;
    right: -4.5%;
    top: 53.28%;
}

.img2 {
    position: absolute;
    left: 64.63%;
    right: 17.5%;
    top: 17.12%;
}

.img3 {
    position: absolute;
    left: 61.73%;
    right: 18.51%;
    top: 17.01%;
    bottom: 20.85%;
}

.img4 {
    position: absolute;
    width: 196.22px;
    height: 420.5px;
    left: 62.26%;
    top: 18.11%;
}


.botao1 {
    width: 76px;
    height: 37px;
    padding: 10px, 16px;
    font-size: 16px;
    background-color: #0062ff;
    color: white;
    border: none;
}

.botao2 {
    width: 120px;
    height: 40px;
    right: 335px;
    color: #575757;
    line-height: 34px;
    background-color: #ffffff;
    

}
main{
    margin-top: 240px;
}
.Autor{
    text-align: center;
    padding-bottom: 20px;
}
.cara{
margin-left:131px;
padding-right: 20px;
}

.lorem{
    padding-top: 15px;
  }


main div{
    display: inline-block;
    padding-right: 47px;
}
.p{
    color: #575757;
    padding-bottom: 14px;
    
}
.desenvolvedor{
    padding-left: 112px;
}
.link{
    text-decoration: none;
    color: #2203e4;
    font-size: 21px;
   
}
.fundo{
    background-color: #0062ff;
    color: #ffff;
   

height: 702px;

top: 1243px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 1583px;


}



.rede1{
    padding-left: 19px;
    padding-top: 25px;
}

.quero{
    background-color: #ffffff;
    color: #2203e4;
    padding: 10px 16px 10px 16px;
    border: 1px solid #2203e4;
    text-decoration: none;
    display: flex;
    margin-top: 50px; 

}
   
.coluna-texto {
    margin-left: 10px;
}

.coluna {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 60px;
}
.linha{
    display: flex;
    justify-content: space-around;
}
.t{
    padding-top: 35px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 36px;
}
.o{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.desenvolvedor{
padding-left: 112px;
}


.p{
color:#575757;
padding-bottom: 14px;
}
.j{
    padding-bottom: 110px;

}
.h1-texto{
 text-align: center;
 padding-bottom: 44px;
}

.h1{
  text-align: center;
  padding-top: 63px;
  padding-bottom: 12px;
}


.demonstracao{
   display: flex;
}

.texto-demonstracao{
   text-align: center;
   padding-top: 12px;
   padding-bottom: 12px;
   margin-left: 205px;

}

.imagens-demonstracao
{
   text-align: center;
   align-items: center;
   padding-left: 47px;
   padding-bottom: 119px;
}





.avaliacao{
    background-color: #ffbe0b;
    text-align: center;
}
.titulo-avaliacao{
    padding-top: 67px;
    padding-bottom: 42px;

}
.img-c{
  padding-bottom: 67px;
}



.coluna-iphone{
    display: flex;
    align-items: center;
    padding-left: 283.36px;
}
.stars{
    display: flex;
}
.stars2{
    padding-left: 17px;
}
.app{
    color: #2203e4;
    font-size: 36px;
}
.car{
    text-decoration: none;
    color: white;
    background-color: #0062ff;
    font-size: 16px;
    padding: 10px 16px 10px 16px;
}
.app2{
    padding-bottom: 16px;
}
.desconto{
    text-align: center;
}
.e-mail{
 padding-top: 25px;
 padding-left: 24px;
 padding-bottom: 26px;
 padding-right: 270px;
 background-color: #3a85ff80;
 text-decoration: none ;
 border-radius: 12px;
 color: #2203e4;
}
.querod{
 display: block;
 padding-top:30px;

}
.d2{
    padding-bottom: 28px;
}
.qbotao{
    padding-top: 10px;
    padding-left: 176px;
    padding-bottom: 10px;
    padding-right: 176px;
    background-color: #0062ff;
    color: white;
    border-color: transparent;

}
.mark{
    padding-right: 250px;
}